

body {
  margin: 0;
  background-color: rgb(59, 48, 107);
}

a {
  color: white;
}

h2 {
  color: white;
  font-family: monospace;
  font-size: 30px;
}
label {
  color: white;
}

/**************   END PAGE STYLES *************/

/**************   NAV STYLES  *************/
nav {
  background-color: rgb(76, 63, 150);
  height: 60px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
p {
  color:rgb(253, 253, 253);
  font-family: monospace;
}
#spongebob {
  height: 100px;
}

#logo {

}

#nav-buttons {

}

#nav-list {
  display: flex;
  color: white;
}

.nav-list-item {
  padding: 20px;
  list-style-type: none;

}

#nav-button {
  border: 0;
  background: transparent;
}


/**************   END NAV STYLES  *************/

/**************  GENERAL PAGE STYLES  *************/
#swatch-ul {
  color: #ffffff;
}

#content-area {
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
}

textarea {
  font-family: monospace;

  
}

.text-boxes {
  background-color: rgb(30, 30, 50);
  color: rgb(100, 230, 230);
  border: none;
  padding: 5px;
}

.button-styles {
  background-color: rgb(100, 70, 200);
  color: rgb(150, 230, 230);
  border: none;
  padding: 5px;
}

button:hover {
  background-color: rgb(150, 230, 230);
  color: rgb(100, 70, 200);
}


/**************   END OF GENERAL PAGE STYLES  *************/

/**************   LOGIN FORM STYLES   *************/
#login-panel {
  border-radius: 5%;
  text-align: center;
  margin: auto;
  width: 50%;

  background-color: rgb(76, 63, 150);
}

#login-form {
  text-align: center;
  margin: auto;
  width: 50%;
  
}

#login-labels {
  text-align: left;
  margin: auto;
  width: 50%;
}

#login-inputs {
  text-align: left;
  margin: auto;
  width: 50%;
}

.login-form-label {
  margin-top: 50px;
  padding-top: 50px;
}

.login-form-input {
  margin-top: 10px;
}

.login-form-button {
  margin-top: 30px;
}

/**************   END LOGIN FORM STYLES   *************/

/**************   FOOTER STYLES  *************/

